<!DOCTYPE html>
<html lang="en">
<head>
    <title>Counter</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="style.css" rel="stylesheet">
</head>
<body>

<new-row>
    <col-12>
        <header class=text-center style="margin: 20% 20%">
            <h1><big><%= counter %></big></h1>
            <h4>Counter</h4>
                <form action=/mult method=post>
                    <input type=submit value=Multiply>
                </form>
                <br>
                <form action=/reset method=post>
                    <input type=submit value=Reset>
                </form>
        </header>
    </col-12>
</new-row>

</body>
</html>